extends layout

block append script
  link(rel='stylesheet', href='/stylesheets/admin/mail_v.css')
  script(src="/plugins/moment/js/moment.min.js")
  script(src="/plugins/FileSaverJS/js/FileSaver.min.js")
block content
  block menuVariables
    - var menuActive = 'mail';
    include sidebar
    div.admin-content-wrapper
      div.admin-content
        div.container-fluid
          div.row.wrapper-height
            div.col-md-12
              div.mail-sidebar
                div.mail-sidebar-content
                  a.btn-manage.btn.btn-primary#compose Compose
                  div.btn-wrapper
                    a(class=(label === null ? 'btn-active' : '')).btn-manage.btn.btn-list#inbox
                      span.btn-label Inbox
                    a(class=(label === 'Unread' ? 'btn-active' : '')).btn-manage.btn.btn-list#unread
                      span.btn-label Unread
                    a(class=(label === 'Important' ? 'btn-active' : '')).btn-manage.btn.btn-list#important
                      span.btn-label Important
                    a(class=(label === 'Starred' ? 'btn-active' : '')).btn-manage.btn.btn-list#starred
                      span.btn-label Starred
                    a(class=(label === 'Draft' ? 'btn-active' : '')).btn-manage.btn.btn-list#draft
                      span.btn-label Draft
                    a(class=(label === 'Sent Mail' ? 'btn-active' : '')).btn-manage.btn.btn-list#sent-mail
                      span.btn-label Sent Mail
                    a(class=(label === 'Trash' ? 'btn-active' : '')).btn-manage.btn.btn-list#trash
                      span.btn-label Trash
              div.mail-wrapper
                div.table-wrapper
                  div.loader-bg
                  div#cssload-loader
                    div.cssload-dot
                    div.cssload-dot
                    div.cssload-dot
                    div.cssload-dot
                    div.cssload-dot
                    div.cssload-dot
                    div.cssload-dot
                    div.cssload-dot
                  div.mail-header
                    h3.mail-subject #{extractFieldHeader(message, "Subject")}
                    div.mail-sender
                      p
                        span.sender
                          - var from = extractFieldHeader(message, 'From').split(' <');
                          span.sender-name #{from[0].replace(/"/g, '')}
                          span.sender-email &lt;#{from[1]}
                        span.send-date #{moment(new Date(extractFieldHeader(message, 'Received').split(';')[1].trim())).format('MMMM DD')}
                  div.mail-body
                    iframe(srcdoc=message.html, width="100%")#mail-content
                  div.mail-footer
                    div.attachmet-wrapper

          include ../include/footer
  script.
    var IS_READ = !{JSON.stringify(message.labelIds.indexOf("UNREAD") === -1)};
    var ID = !{JSON.stringify(message.id)};
    var ATTACHMENTS = !{JSON.stringify(attachments)};
  script(src="/javascripts/admin/mail_v.js")