extends layout

block append script
  link(rel='stylesheet', href='/stylesheets/admin/mail_v.css')
  script(src="/plugins/moment/js/moment.min.js")
  script(src="/plugins/FileSaverJS/js/FileSaver.min.js")
block content
  block menuVariables
    - var menuActive = 'mail';
    include sidebar
    div.admin-content-wrapper
      div.admin-content
        div.container-fluid
          div.row.wrapper-height
            div.col-md-12
              div.mail-sidebar
                div.mail-sidebar-content
                  a(data-toggle="modal", data-target="#compose-modal").btn-manage.btn.btn-primary#compose Compose
                  div.btn-wrapper
                    a(class=(label === null ? 'btn-active' : '')).btn-manage.btn.btn-list#inbox
                      span.btn-label Inbox
                    a(class=(label === 'Unread' ? 'btn-active' : '')).btn-manage.btn.btn-list#unread
                      span.btn-label Unread
                    a(class=(label === 'Important' ? 'btn-active' : '')).btn-manage.btn.btn-list#important
                      span.btn-label Important
                    a(class=(label === 'Starred' ? 'btn-active' : '')).btn-manage.btn.btn-list#starred
                      span.btn-label Starred
                    a(class=(label === 'Draft' ? 'btn-active' : '')).btn-manage.btn.btn-list#draft
                      span.btn-label Draft
                    a(class=(label === 'Sent Mail' ? 'btn-active' : '')).btn-manage.btn.btn-list#sent-mail
                      span.btn-label Sent Mail
                    a(class=(label === 'Trash' ? 'btn-active' : '')).btn-manage.btn.btn-list#trash
                      span.btn-label Trash
              div.mail-wrapper
                div.table-wrapper
                  div.loader-bg
                  div#cssload-loader
                    div.cssload-dot
                    div.cssload-dot
                    div.cssload-dot
                    div.cssload-dot
                    div.cssload-dot
                    div.cssload-dot
                    div.cssload-dot
                    div.cssload-dot
                  div.mail-header
                    - var subject = extractFieldHeader(message, "Subject");
                    h3.mail-subject #{subject}
                    div.mail-sender
                      p
                        span.sender
                          - var from = extractFieldHeader(message, 'From').split(' <');
                          span.sender-name #{from[0].replace(/"/g, '')}
                          span.sender-email #{(from.length !== 1 ? ('<' + from[1]) : '')}
                        span.send-date #{moment(new Date(extractFieldHeader(message, 'Received').split(';')[1].trim())).format('MMMM DD')}
                  div.mail-body
                    iframe(srcdoc=message.html, width="100%")#mail-content
                  div.mail-footer
                    div.attachmet-wrapper

                div.reply-wrapper
                  span.reply-message Click hre to <a class="btn-reply">reply</a>
                  div.reply-form
                    div.reply-body
                      input(type="hidden", name="reply-id", value="#{message.id}")#reply-input-id
                      input(type="text", name="reply-to", readonly, value="#{extractFieldHeader(message, 'From')}")#reply-input-to
                      input(type="hidden", name="reply-subject", value="Re: #{subject}")#reply-input-subject
                      textarea(name="reply-body")#reply-input-body
                      div.reply-preview
                    div.reply-footer
                      div.attachment-label-wrapper
                        label.attachment-label
                          span.parperclip-wrapper
                            i.fa.fa-paperclip
                              input(type="file", name="files[]", style="display: none;", multiple="multiple")#reply-input-attachments
                      button(type="submit")#reply-submit.btn.btn-primary Send
                      button.btn.btn-default#reply-cancel Cancel
          include ../include/footer

  div.error-wrapper
    div.error-content
      h4.text-center.error-header Error
      p.error-text
      button.error-close.btn.btn-default You got it?

  div(tabindex="-1", role="dialog", aria-labelledby="ComposeModalLabel", aria-hidden="true", style="display:none; top:30px;")#compose-modal.modal.fade
    div.modal-dialog.modal-md
      div.modal-content
        div.modal-header
          button(type="button", data-dismiss="modal", aria-hidden="true").close x
          h4#ComposeModalLabel.text-center New Message
        div.modal-body
          div.row
            div.col-md-12
              form(role="form")#modal-form.form-horizontal
                input(type="hidden", name="id")#modal-input-id
                div.form-wrapper
                  input(type="email", name="name" maxlength="255", placeholder="to")#modal-input-to.form-control
                div.form-wrapper
                  input(type="text", name="name" maxlength="255", placeholder="subject")#modal-input-subject.form-control
                div.form-wrapper
                  textarea(name="body", placeholder="Content Body")#modal-input-body.form-control
              div.attachment-preview
        div.modal-footer
          div.attachment-label-wrapper
            label.attachment-label
              span.parperclip-wrapper
                i.fa.fa-paperclip
                  input(type="file", name="files[]", style="display: none;", multiple="multiple")#modal-input-attachments
          button(type="submit", form="modal-form")#modal-submit.btn.btn-primary Send
          button(type="button", data-dismiss="modal").btn.btn-default Cancel

  script.
    var IS_READ = !{JSON.stringify(message.labelIds.indexOf("UNREAD") === -1)};
    var ID = !{JSON.stringify(message.id)};
    var ATTACHMENTS = !{JSON.stringify(attachments)};
    var MESSAGE = !{JSON.stringify(message)};
  script(src="/javascripts/admin/mail_v.js")