extends layout

block append script
  link(rel='stylesheet', href='/stylesheets/index_v.css')
  script(src="/plugins/pagination/jquery.twbsPagination.min.js")
block header
  header(style="background-image: url('/assets/images/homeCover.jpg');").bg-wrapper
    block headerVariables
      - var menuActive = 'home';
      - var pageTitle = "MasaBlog";
      - var pageDescription = '<h4 class="text-center">MasaCode\'s Blog about gaming and programming</h4>';
    include include/header
block content
  main.page-content-wrapper
    div.page-content
      div.container-fluid
        div.row
          div.col-md-9
            div.post-body-wrapper.row
              - var postLength = posts.length;
              - for (var i = 0; i < postLength; i++) {
                div.blog-post-wrapper.col-md-6.col-sm-6
                  div.blog-post
                    h3
                      a(href="/posts/#{posts[i].id}") #{posts[i].title}
                    p.post-info
                    hr.post-line
                    div(style="background: url('/assets/uploads/#{posts[i].image_path}');").post-img
                    hr.post-line
                    p.post-desc #{posts[i].description.substr(0, 150)}
                    a(href="/posts/#{posts[i].id}").btn-read.btn.btn-primary Read More
                      span.fa.fa-chevron-right
              - }
            nav(style="text-align: center;").pagination-wrapper
              ul(style="margin: 0 auto;")#post-pagination.pagination

          block barVariables
            - var show_about = true;
          include include/rightSideBar

  include include/footer
  script.
    var POST_INFO = !{JSON.stringify(count)};
  script(src="/javascripts/index_v.js")
