extends layout

block append script
  link(rel='stylesheet', href='/stylesheets/index_v.css')
  script(src="/plugins/pagination/jquery.twbsPagination.min.js")
block header
  header(style="background-image: url('/assets/images/homeCover.jpg');").bg-wrapper
    block headerVariables
      - var menuActive = (selectedCategory !== null ? selectedCategory.id : '');
      - var pageTitle = (selectedCategory !== null ? selectedCategory.name : selectedTag.name);
      - var description = (selectedCategory !== null ? selectedCategory.description : selectedTag.description);å
      - var pageDescription = '<h4 class="text-center">' + description + '</h4>';
    include include/header
block content
  main.page-content-wrapper
    div.page-content
      div.container-fluid
        div.row
          div.col-md-9
            div.post-body-wrapper.row
              - var postLength = posts.length;
              - for (var i = 0; i < postLength; i++) {
              div.blog-post-wrapper.col-md-6.col-sm-6
                div.blog-post
                  h3
                    a(href="/posts/#{posts[i].id}") #{posts[i].title}
                  p.post-info
                  hr.post-line
                  div(style="background: url('/assets/uploads/#{posts[i].image_path}');").post-img
                  hr.post-line
                  p.post-desc #{posts[i].description.substr(0, 150)}
                  a(href="/posts/#{posts[i].id}").btn-read.btn.btn-primary Read More
                    span.fa.fa-chevron-right
              - }
            nav(style="text-align: center;").pagination-wrapper
              ul(style="margin: 0 auto;")#post-pagination.pagination

          block barVariables
            - var show_about = true;
          include include/rightSideBar

  include include/footer
  script.
    var POSTS]
    = !{JSON.stringify(posts)};
  script(src="/javascripts/post_list_v.js")