extends layout

block append script
  link(rel='stylesheet', href='/stylesheets/post_v.css')
  link(rel='stylesheet', href='/stylesheets/post_content.css')
  link(rel="stylesheet", href="https://cdn.jsdelivr.net/highlight.js/latest/styles/github.min.css")
  script(type="text/javascript", src="/plugins/moment/js/moment.min.js")
  script(type="text/javascript", src="/plugins/marked/js/marked.js")
  script(src="https://cdn.jsdelivr.net/highlight.js/latest/highlight.min.js")
block header
  header(style="background-image: url('/assets/uploads/#{post.image_path}');").bg-wrapper
    - var pageTitle = post.title;
    - var pageDescription = '<p class="text-center post-info"></p>';
    include include/header
block content
  main.page-content-wrapper
    div.page-content
      div.container-fluid
        div.row
          div.col-md-9
            div#post-content.well.blog-post
            - var commentLength = comments.length;
            div(style="display: #{commentLength !== 0 ? 'block' : 'none'}").comment-wrapper
              h3.text-center Comments
              div.comment-content
                - for (var i = 0; i < commentLength; i++) {
                  div.comment
                    h4.commenter #{comments[i].username} <small>on #{moment(new Date(comments[i].date)).format('MMM Do, YYYY')}</small>
                    p.comment-body #{comments[i].comments}
                - }
            div.comment-form-wrapper
              h3.text-center Leave a comment!
              span.error-text
              form()#comment-form
                div.comment-left
                  div.comment-group.form-group
                    label.comment-label Name*
                    input(type="text", name="comment-name", maxlength="255")#comment-input-name.form-control
                  div.comment-group.form-group
                    label.comment-label Email*
                    input(type="email", name="comment-email", maxlength="255")#comment-input-email.form-control
                  div.submit-wrapper.lg-submit
                    button().comment-submit.btn.btn-primary Submit
                div.comment-right
                  div.comment-group.form-group
                    label.comment-label Message*
                    textarea()#comment-input-body.form-control
                  div.submit-wrapper.sm-submit
                    button().comment-submit.btn.btn-primary Submit

          block barVariables
            - var show_about = true;
          include include/rightSideBar

  include include/footer

  script.
    var POST = !{JSON.stringify(post)};
    var TAGS = !{JSON.stringify(tags)};
    marked.setOptions({
        highlight: function (code) {
            return hljs.highlightAuto(code).value;
        }
    });
    var body = marked(POST.body);
    $('div.blog-post').html(body);

  script(src="/javascripts/post_v.js")
